html,
body {
    font-family: "Comic Sans MS", "Trebuchet MS", Arial, Verdana, sans-serif;
    /*sur les polices j'en mets plusieurs pour que le navigateur cherche la suivante s'il ne trouve pas la première
	par ailleurs, j'ai mis des guillemets autour des polices qui contiennent une espace dans leur nom*/
    background: url("../images/bg1.gif");
    margin: 0px;
    padding: 0px;
    color: black;
}

body {
    padding: 15px;
    color: rgb(10, 20, 25);
    visibility: hidden;
    /*je le rends invisible au début, mais cela redeviendra visible avec le js*/
}

header {
    margin: 2px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(200, 100, 100, 0.4);
    border-top: 2px solid rgb(255, 100, 100);
    border-left: 2px solid rgb(255, 150, 150);
    border-radius: 10px;
    box-shadow: 6px 6px 2px rgb(200, 100, 100);
}

h1 {
    background: border-box rgba(200, 0, 30, 0.7);
    border-radius: 7px;
    padding-left: 10px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    border-radius: 7px;
    box-shadow: -5px 5px teal;
    background-color: rgba(20, 10, 120, 0.5);
}

h3 {
    text-shadow: 2px 2px #558ABB;
}

header>h2 {
    font-family: Liberation Serif, sans-serif;
    font-size: 4em;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: none;
    background-color: transparent;
}

.codePython {
    /*Utilisé pour tout code python*/
    background-color: white;
    border: dashed black 1px;
    margin-left: 1px;
    margin-right: 7px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: bold;
}

pre>.codePython {
    font-size: 1.2em;
}

.motCle {
    /*Je mets en bleu les mots clés en python*/
    color: blue;
}

.comment {
    /*Je mets en gris les commentaires en python*/
    color: rgb(90, 90, 90);
}

.diaporama {
    text-align: center;
    width: 100%;
}

#idDiapo {
    text-align: center;
}

.imageDiapo {
    width: 75%;
    float: none;
}

th {
    background-color: rgba(0, 0, 255, 0.3);
    text-decoration: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
}

td {
    text-align: center;
    width: 14%;
}

button {
    border: none;
    padding: 6px;
    margin: 0 10px 15px 10px;
    border-radius: 2px;
    box-shadow: 3px 3px 12px #999;
    background: #fff;
    font: bold 13px Arial;
    color: #555;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/**************************************************************************
Pour le bandeau de navigation
J'ai trouvé ça ici :
https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/
*************************************************************************/

nav {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(220, 220, 255);
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: left;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 2px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 2px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}

#voirCompteur,
#counter {
    position: absolute;
    top: 0px;
    left: 0px;
}

#travailRendre {
    margin: 0;
    padding: 0;
    background-color: #BBBBBB;
    border-radius: 10px;
    border: 2px solid #555;
}
